[project]
	description = openFrameworks android app of a bouncing box with the camera contents
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kelly Campbell (kellycampbell)
[access "refs/for/refs/*"]
	read = group user/Kelly Campbell (kellycampbell)
	push = group user/Kelly Campbell (kellycampbell)
	label-Code-Review = -2..+2 group user/Kelly Campbell (kellycampbell)
	label-Verified = -1..+1 group user/Kelly Campbell (kellycampbell)
	rebase = group user/Kelly Campbell (kellycampbell)
	removeReviewer = group user/Kelly Campbell (kellycampbell)
	submit = group user/Kelly Campbell (kellycampbell)
[access "refs/heads/*"]
	read = group user/Kelly Campbell (kellycampbell)
	create = group user/Kelly Campbell (kellycampbell)
	push = +force group user/Kelly Campbell (kellycampbell)
	pushMerge = group user/Kelly Campbell (kellycampbell)
[access "refs/tags/*"]
	push = group user/Kelly Campbell (kellycampbell)
	push = +force group user/Kelly Campbell (kellycampbell)
